/* ---- CUSTOM VARS ---- */

:root {
    --brown: #A76902;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --light-orange: #FFEED2;
    --white: #fff;
}

/* ---- GLOBAL ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

html {
    font-family: 'Open Sans', Arial, sans-serif;
    color: var(--oxford-blue);
    font-weight: 400;
    line-height: 2;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-orange);
    /* rgb(255, 238, 210) */
}

.main {
    padding: 1rem;
}

h1,
h2,
h3 {
    font-family: 'Poppins', Arial, sans-serif;
}

h1,
h2,
h3,
p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
}


h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

/* ---- NAVIGATION ---- */

.navigation {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--orange-web);
    z-index: 1;
}

.navigation header {
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navigation button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
    display: none;
    padding: 1rem;
}

.toggle {
    display: block;
}

.navigation-list li {
    padding: 0.5rem;
    text-align: center;
}

.navigation-list a:link {
    text-decoration: none;
    color: var(--oxford-blue);
}

.navigation-list a:visited {
    color: var(--oxford-blue);
}

.navigation-list a:hover {
    text-decoration: underline;
}

.navigation-list a:active {
    font-weight: bold;
}

/* ---- SECTIONS ---- */

/*^ All */
section {
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 8rem;
}

/*^ Welcome */
.welcome-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    animation: entrance ease 2s;
    animation-iteration-count: 1;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*~ Contains h1 + h2 */
.left-container {
    text-align: center;
}

.right-container img {
    max-width: 40%;
}

/*^ Projects */
.projects-container {
    display: flex;
    flex-wrap: wrap;
}

.project-image {
    padding-bottom: 0.5rem;
}

/*~ Contains project title + external links */
.project-details-left {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-top: 0.1rem solid var(--orange-web)
}

.project-title {
    background-color: var(--orange-web);
    padding: 0.5rem 0;
}

/*~ Icons : CodePen + GitHub icons */
.fa-fw {
    margin-right: 0.5rem;
}

.project-link:link {
    color: var(--oxford-blue);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.project-link:visited {
    color: var(--brown);
}

.project-link:hover {
    text-decoration: underline;
}

/*~  Contains stack text + icons */
.project-details-right {
    display: flex;
    flex-direction: row;
}

/*^ Projects & Skills */
.project-tile,
.skill-card {
    background-color: var(--white);
    border-radius: 0.4rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}

.title {
    font-weight: bold;
}

/*~  fa-5x : skills icons */
.project-title,
.fa-5x {
    margin-bottom: 1rem;
}

/*^ Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-title {
    text-transform: uppercase;
    margin-bottom: 0;
}

/*^ Contact */
.contact-link {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--oxford-blue);
    text-decoration: none;
}

.contact-link:visited {
    color: var(--brown);
}

.contact-link:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

/*^ Footer */
footer p {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
    background-color: var(--orange-web);
}

/* ---- MEDIA QUERIES --- */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .navigation button::after {
        content: " Menu";
        font-size: 1rem;
    }

    .navigation button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    .main {
        padding: 2rem;
    }

    section {
        width: 80vw;
        margin: auto;
    }

    .projects-container,
    .skills-container {
        justify-content: space-between;
    }

    .project-tile {
        width: 45%;
    }

    .skill-card {
        width: 30%;
    }

    .contact-container {
        display: flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .navigation {
        display: flex;
        padding: 0 1rem;
    }

    .navigation button {
        display: none;
    }

    .navigation-list {
        display: flex;
        align-items: center;
    }

    .navigation-list li {
        font-size: 1.2rem;
        margin: 0 1rem;
        padding: 0;
        text-align: right;
    }

    .navigation-list li:last-child {
        margin-right: 0;
    }

    .welcome-section {
        display: flex;
        height: 80vh;
        align-items: center;
        padding-top: 0;
    }

    .left-container {
        text-align: left;
        width: 60%;
    }

    .right-container {
        position: absolute;
        right: 0;
        width: 40%;
    }

    .right-container img {
        max-width: 50%;
    }

    .project-tile {
        margin: 1rem 0.5rem;
        width: 40%;
    }
}